

nav {
	background-color: #fceee9;
	margin-right: auto;
	font-size: 1em;
	font-family: 'Ultra', serif;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	line-height: 0em;
	list-style-type: none;
	
}

nav ul li {
	background-color: #fceee9;
	flex-flow: row wrap;
	align-items: stretch\;
	list-style-type: none;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	text-decoration: none;}


body {
	background-color: #dde6d5;
	text-align: center;
	}

ul {
	list-style-type: none;
	font-family: 'Ultra', serif;}

ul a {
	text-decoration: none;}

a {
	color: #333333;}

a:visited {
	color: #333333;}

a:hover {
	color: #a3b899;}


h1 {
	font-family: 'Red Rose', serif;
}

p {
	font-family: 'Sigmika', sans-serif;
	margin-left: 10rem;
	margin-right: 10rem;
	}

.underline {
	text-decoration: underline;
	text-decoration-color: #fceee9;
}


.image {
	border-radius: 0px;
}

.list-image {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.list-link {
	text-decoration: underline solid 5px;
}


.list-image img{

	max-width: 400px;
	margin: 1rem;
	box-shadow: 5px 5px #f8d3c5;
	border-radius: .5rem;
}

@media (max-width:800px){
	body {
		background-color: #fceee9;
}

nav{
	background-color: #dde6d5;
}
nav ul{
	display: flex;
	flex-direction: column;
}
nav ul li {
	background-color: #dde6d5;
}

@media (min-width: 555px){
	body{ 
	background-color: #fceee9 }

}

.location-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.button_holder {
	display: flex;
	flex-direction: row;
}

.button_next {  
}


.button_previous {  
}

.stepper { 
 }

button {
	background-color: #f8d3c5;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {

}

.gallery-image {
	max-width: 50px;
	margin: 1rem;
}


.hideThis {
	display: none;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

