head{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(92,58,146);
}

body {
	background-color: rgb(64,191,75);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'IBM Plex Sans', sans-serif;
	max-width: 100%;
	overflow: scroll; /* Show scrollbars */
	}

nav {
	background-color: rgb(16,234,35);
	max-width: 850px;
	margin: auto;
	font-size:1rem;
	border-radius: 0.2;
	padding: 1rem;
	padding-right: 3.5rem;

}
	
	nav ul {
		display: flex;
		align-items: stretch;
		flex-direction: row;
		justify-content: space-evenly;
		
		}


	nav ul li {
	background-color: rgb(64,191,75) ;
	flex-flow: row;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	list-style-type: circle;
	padding: 1rem;
	max-width:100%;
	border-radius: 0.1rem;
	}

nav ul li a {
	text-decoration: none;
}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 1.0em;
	justify-content: center;
	background-color: rgb(64,191,75);
}

.intro{
	background-color: rgb(64,191,75);
	padding:1rem;
}

h1 {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	font-family: 'serif;', serif;
	font-size:2em;
	background-color: rgb(16,234,35);
}

h2 {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 1.0rem;
	background-color: rgb(64, 190, 23);
}

p {
	display: flex;
	justify-content: center;
	font-family: 'Gabarito;'
	font-size: 2em;
}

p ul li a {
	font-family: 'sans-serif;', sans-serif;
	font-size: 1em;
}

.headshot {
	display: flex;
	justify-content: center;
	border: none;
}

.mailing-link img {width:200px}


@media screen and (min-width:480px){
	body {
/*		background-color: green;*/
	}

}



.media-list img {
	max-width:200px;
}

.image {
	border-radius: 0px;
}

.list-image {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.list-link {
	text-decoration: underline solid 5px;
}


.list-image img{

	max-width: 400px;
	margin: 1rem;
	box-shadow: 5px 5px #f8d3c5;
	border-radius: .5rem;
}

@media (max-width:720px){
	body {
		background-color: mediumpurple;
	 
		background-color:mediumpurple;
	

}

@media (min-width: 555px){
	body{ 
	background-color: #fceee9 }

}

.location-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.button_holder {  
	display: flex;
	flex-direction: row;
}
.button_next { 
 }

.button_previous {  }

.stepper {  }

button {
	background-color: orange;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}


.button-start {

}

.gallery-image {
	max-width: 50px;
	margin: 1rem;
}

.hideThis {
	display: none;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

	.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;