body {
	background-color: rgb(64,191,75);
}

nav {
	background-color: rgb(16,234,35);
	max-width: 700px;
	margin: auto;
	font-size:1em;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}
	
	nav ul {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

	}


	nav ul li {
	background-color: rgb(64,191,75) ;
	flex-flow: row wrap;
	flex-diretion: row;
	align-items: center;
	list-style-type: none;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.3rem;
	}

main {
	max-width: 1000px;
	margin: auto;
	font-size: 1.0em;
	justify-content: center;
	background-color: rgb(64,191,75);
}

h1 {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	font-family: 'serif;', serif;
	font-size:2em;
	background-color: rgb(16,234,35);
}

h2 {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 0.5rem;
}

p {
	display: flex;
	justify-content: center;
	font-family: 'Gabarito;
	font-size: 2em;
}

p ul li a {
	font-family: 'sans-serif;', sans-serif;
	font-size: 1em;
}

.headshot {
	display: flex;
	justify-content: center;
	border: none;

.mailing-link img {
	Max-width: 200px;
}

}

@media screen and (min-width:480px){
	body {
		background-color: green;
	}

}


@media screen and (max-width:720px){
	body {
		background-color: mediumpurple;
}
}

@media screen and (min-width:400px){
.example-image{
	
	flex-direction: row !important;
	margin: 3rem;
			}

		
